.titulo{
    color:blueviolet;
    margin-left: 77px;
    font-size: 80px;
    margin-top: 45px;
}

p{
    color: blueviolet;
    font-size: 25px;
}
h1{
 color:blueviolet; 
}

.productos{
width:80% ;
margin: 20px;
padding: 10px;
margin-left: 35px;

}
.cuadro1{
    margin: 20px;
    border-radius: 6px;
    margin-left: 20px;
    
}

   

.cuadro2{
    margin: 20px;
    border-radius: 6px;
    margin-left: 20px;
   
}
.cuadro3{
    margin: 20px;
    border-radius: 6px;
    margin-left: 20px;
     
}
a{
    color: blueviolet;
    }   
.tienda{
   color: aliceblue;
   margin-top: 50px;
   margin: 50px;
   background-color: aliceblue;
}
