.container{
    background-color: rgb(192, 147, 235);
    margin-top: 50px;
    padding: 25px;
    border-radius: 8px;
    width: 890px;
    

}
h1{
    font-size: 30px;
    font-family: sans-serif;
    
}
label{
    font-size: 30px;
}
input{
    width: 85%;
    margin-left: 45px;
}